<div class="card">
  <div class="card-header">
   <h2> The Super Gossip Project For Real BITCHEEEEEEEES </h2>
  </div>
  <div class="card-body">
    <div class="card-body">
    <h5 class="card-title"><%= link_to "go to team page",  gossip_team_path  %> </br></h5>
    <h5 class="card-text"><%= link_to "go to contact page",  gossip_contact_path  %>  </br></h5>
    <h5 class="card-text"><%= link_to "go to index page",  root_path  %>  </br></h5>
  </div>
</div>


<h1> Voici notre super équipe : Lahoua, Caro et Robin !</h1>
